<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>A Contact Form Using Phpmailer - reusable form</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" >
        <link rel="stylesheet" href="/static/css/form.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body >
        <div class="container">
            <div class="form-container">
                <h1>
                    Search Pokemon Power
                </h1>
            
                <form action="/searchPokemon" method = "GET" id="reused_form" enctype="application/x-www-form-urlencoded" >
                    <label for="name">Name:</label>
                    <input type="text" name="searchname"/>
                    <br></br>
                    <button type="submit" class="btn btn-warning">Search power!</button>
                </form>

                <div id="display_message" style="display:block">
                    <p>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <h4>{{ message }}</h4>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </p>
                    
                </div>
            </div>
            <br>

            <div class="form-container">
                    <h1>
                        Add Pokemon Power
                    </h1>
                    <form action="/add" id="reused_form" >
                        <label for="name">Name:</label>
                        <input type="text" name="addname">
                        <label for="power">Power:</label>
                        <input type="text" name="addpower">
                        <br></br>
                        <button type="submit" class="btn btn-warning">Add power!</button>
                    </form>
                    <div id="success_message" style="display:none">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <h4>{{ message }}</h4>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
            </div>
        </div>
    </body>
</html>